/* CSS Document */

/* CSS Document */
thead{
        background-image: linear-gradient(to bottom, #D10A0D, #650506);
        background-repeat: repeat-x;
        border-color: #650506;
        color: #ffffff;
}
.border1{
        background-color: #D10A0D;
        background-image: -moz-linear-gradient(center top , #D10A0D, #650506); 
        
        background: -webkit-gradient(linear, left top, left bottom, from(#D10A0D), to(#650506), color-stop(0.7, #650506));
        background: -moz-linear-gradient(top, #D10A0D, #650506);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D10A0D', endColorstr='#650506');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abeb', endColorstr='#650506')";
        background: -o-linear-gradient(top, #D10A0D, #650506);
        
        border: 1px solid #6E6E6E; 
        margin: 20px;
        padding: 20px;
        margin-right: 100px ; 
        margin-left: 100px ; 
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
        box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
        border-radius: 1em;
        color: #ffffff;
}
.border2{
        background-color:#A5B8DA; 
        border: none; 
        margin: 0px;
        padding: 0.009px;
        margin-right: 300px ; 
        margin-left: 300px ; 
        -moz-border-radius-topright: 1em; 
        -moz-border-radius-topleft: 1em;
        -webkit-border-top-right-radius: 24px; 
        -webkit-border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
}
.contenedor_mensajes{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #D10A0D;
    background-image: -moz-linear-gradient(center top , #D10A0D, #650506);
    background: -webkit-gradient(linear, left top, left bottom, from(#D10A0D), to(#650506), color-stop(0.7, #650506));
    background: -moz-linear-gradient(top, #D10A0D, #650506);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D10A0D', endColorstr='#650506');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00abeb', endColorstr='#650506')";
    background: -o-linear-gradient(top, #D10A0D, #650506);
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
    border-radius: 1em;
}
.cargando{
    background-color: #D10A0D;
    margin-left: 45%;
    padding-left: 2.5%;
    padding-top: 1%;
    margin-bottom: -1%;
    margin-right: 45%;
    width: 7.5%;
    -moz-border-radius: 1em 1em 0 0;
    -webkit-border-radius: 1em 1em 0 0;
    border-radius: 1em 1em 0 0;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
    margin-top: 15%;
}
 .trans{
      background-color:#333333;
      position:fixed;
      font-weight:bold;
      width:100%;
      z-index:10;
      filter:alpha(opacity=70);
      float:left;-moz-opacity:.70;
      opacity:.70;
      color: white;
      margin-top: 0px !important;
      padding-top: 18%;
      padding-bottom: 39%;
    }
    .contenedor_carga{
        position: fixed;
        width: 50%;
        margin-top: 20%;
        margin-left: 25%;
        margin-right: 25%;
        background: white;
        padding: 1%;
        color: #D10A0D;
        font-weight: bold;
        line-height: 275%;
        -moz-border-radius: 1em 1em 0 0;
        -webkit-border-radius: 1em 1em 1em 1em;
        border-radius: 1em 1em 1em 1em;
        -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
        box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
        z-index: 11;
        
    }