/* CSS Document */

/* CSS Document */
thead{
        background-image: linear-gradient(to bottom, #D10A0D, #650506);
        background-repeat: repeat-x;
        border-color: #650506;
        color: #ffffff;
}
.border1{
        background-color: #A5B8DA;
        background-image: -moz-linear-gradient(center top , #D10A0D, #650506); 
        border: 1px solid #6E6E6E; 
        margin: 20px;
        padding: 20px;
        margin-right: 100px ; 
        margin-left: 100px ; 
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
        box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
        border-radius: 1em;
        color: #ffffff;
}
.border2{
        background-color:#A5B8DA; 
        border: none; 
        margin: 0px;
        padding: 0.009px;
        margin-right: 300px ; 
        margin-left: 300px ; 
        -moz-border-radius-topright: 1em; 
        -moz-border-radius-topleft: 1em;
        -webkit-border-top-right-radius: 24px; 
        -webkit-border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
}

